extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			if !data.groupid
				h1 Insert MR group ID that you wish to check
				form(name="add-mmdrs", method="post",action="/checkgui")
					div.input
						p Group ID
						textarea(name="mrdids", cols="40", rows="1")
					div.actions
						input(type="submit", value="Start")
			else
				table(class='pure-table')
					thead
						tr
							th MR DID
							if (data.res=="mmdrv")
								th MMDR note
								th By
								th Last ticket
								th By
							else
								th Status
					each item in data.mrgroup
						tr(class=(i % 2 == 0) ? 'odd' : 'even') 
							td= item.mrdid
							if (data.res=="mmdrv")
								td= item.status
								td= item.checkedby
								td= item.tsubmitted
								td= item.checkedby2
							else
								td= item.state
				if (data.res=="mmdrv") 
					form(name="check-mmdrs", method="post",action="/checkgui/"+data.groupid+'?results=mmdrv')
						br
						p
							a(href='/checkgui/'+data.groupid+'?results=mmdrv') Refresh this page
						p
							input(name="action",type="submit", value='START')
				if (data.res=="mmdrt")
					br
					p
						a(href='javascript:location.reload(true)') Refresh this page
					p
						a(href='/checkgui/'+data.groupid+'?results=mmdrv') Verify MMDRs now
				
			

